@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* 
  v4では @theme ブロックを使って変数を定義できますが、
  現状の要件ではデフォルトのままで問題ありません。
*/