@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* 追加: フォント変数の紐付け */
@theme {
  --font-sans: var(--font-noto-sans-jp), "Noto Sans JP", sans-serif;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}