@import "tailwindcss";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

/* カスタムproseスタイル - 詳細度を上げて確実に適用 */
@layer components {
  .prose {
    color: rgb(55 65 81);
    max-width: 65ch;
    font-size: 1rem;
    line-height: 1.75;
  }
  
  .prose > :first-child {
    margin-top: 0 !important;
  }
  
  .prose > :last-child {
    margin-bottom: 0 !important;
  }
  
  /* 段落 */
  .prose p {
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
  }
  
  /* リンク */
  .prose a {
    color: rgb(79 70 229);
    text-decoration: underline;
    font-weight: 500;
  }
  
  .prose a:hover {
    color: rgb(67 56 202);
  }
  
  /* 太字 */
  .prose strong {
    color: rgb(17 24 39);
    font-weight: 600;
  }
  
  /* 見出し1 */
  .prose h1 {
    color: rgb(17 24 39) !important;
    font-weight: 800 !important;
    font-size: 2.25em !important;
    margin-top: 0 !important;
    margin-bottom: 0.8888889em !important;
    line-height: 1.1111111 !important;
  }
  
  /* 見出し2 */
  .prose h2 {
    color: rgb(17 24 39) !important;
    font-weight: 700 !important;
    font-size: 1.5em !important;
    margin-top: 2em !important;
    margin-bottom: 1em !important;
    line-height: 1.3333333 !important;
  }
  
  /* 見出し3 */
  .prose h3 {
    color: rgb(17 24 39) !important;
    font-weight: 600 !important;
    font-size: 1.25em !important;
    margin-top: 1.6em !important;
    margin-bottom: 0.6em !important;
    line-height: 1.6 !important;
  }
  
  /* 見出し4 */
  .prose h4 {
    color: rgb(17 24 39) !important;
    font-weight: 600 !important;
    font-size: 1em !important;
    margin-top: 1.5em !important;
    margin-bottom: 0.5em !important;
    line-height: 1.5 !important;
  }
  
  /* 画像 */
  .prose img {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
  }
  
  /* 図表 */
  .prose figure {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
  }
  
  .prose figure > * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .prose figcaption {
    color: rgb(75 85 99);
    font-size: 0.875em;
    line-height: 1.4285714;
    margin-top: 0.8571429em !important;
  }
  
  /* コード */
  .prose code {
    color: rgb(17 24 39);
    font-weight: 600;
    font-size: 0.875em;
    background-color: rgb(243 244 246);
    padding: 0.2em 0.4em;
    border-radius: 0.25rem;
  }
  
  .prose code::before,
  .prose code::after {
    content: "`";
  }
  
  /* コードブロック */
  .prose pre {
    color: rgb(229 231 235) !important;
    background-color: rgb(31 41 55) !important;
    overflow-x: auto;
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em !important;
    margin-bottom: 1.7142857em !important;
    border-radius: 0.375rem;
    padding: 0.8571429em 1.1428571em !important;
  }
  
  .prose pre code {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }
  
  .prose pre code::before,
  .prose pre code::after {
    content: none;
  }
  
  /* リスト */
  .prose ol {
    list-style-type: decimal !important;
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
    padding-left: 1.625em !important;
  }
  
  .prose ul {
    list-style-type: disc !important;
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
    padding-left: 1.625em !important;
  }
  
  .prose li {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
  
  .prose ol > li {
    padding-left: 0.375em !important;
  }
  
  .prose ul > li {
    padding-left: 0.375em !important;
  }
  
  /* 引用 */
  .prose blockquote {
    font-weight: 500 !important;
    font-style: italic;
    color: rgb(17 24 39);
    border-left-width: 0.25rem !important;
    border-left-color: rgb(209 213 219) !important;
    quotes: "\201C""\201D""\2018""\2019";
    margin-top: 1.6em !important;
    margin-bottom: 1.6em !important;
    padding-left: 1em !important;
  }
  
  .prose blockquote p:first-of-type::before {
    content: open-quote;
  }
  
  .prose blockquote p:last-of-type::after {
    content: close-quote;
  }
  
  /* 水平線 */
  .prose hr {
    border-color: rgb(209 213 219) !important;
    border-top-width: 1px !important;
    margin-top: 3em !important;
    margin-bottom: 3em !important;
  }
  
  /* テーブル */
  .prose table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em !important;
    margin-bottom: 2em !important;
    font-size: 0.875em;
    line-height: 1.7142857;
  }
  
  .prose thead {
    border-bottom-width: 1px;
    border-bottom-color: rgb(209 213 219);
  }
  
  .prose thead th {
    color: rgb(17 24 39);
    font-weight: 600;
    vertical-align: bottom;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }
  
  .prose tbody tr {
    border-bottom-width: 1px;
    border-bottom-color: rgb(229 231 235);
  }
  
  .prose tbody tr:last-child {
    border-bottom-width: 0;
  }
  
  .prose tbody td {
    vertical-align: baseline;
    padding: 0.5714286em;
  }
  
  /* prose-lg モディファイア */
  .prose-lg {
    font-size: 1.125em !important;
    line-height: 1.7777778 !important;
  }
  
  .prose-lg p {
    margin-top: 1.3333333em !important;
    margin-bottom: 1.3333333em !important;
  }
  
  .prose-lg h2 {
    font-size: 1.6666667em !important;
    margin-top: 1.8666667em !important;
    margin-bottom: 1.0666667em !important;
    line-height: 1.3333333 !important;
  }
  
  .prose-lg h3 {
    font-size: 1.3333333em !important;
    margin-top: 1.6666667em !important;
    margin-bottom: 0.6666667em !important;
    line-height: 1.5 !important;
  }
  
  /* prose-indigo モディファイア */
  .prose-indigo a {
    color: rgb(79 70 229);
  }
  
  .prose-indigo a:hover {
    color: rgb(67 56 202);
  }
}